<div
  style="
    background-color: #4a525d;
    margin-top: 50px;
    padding: 15px 0;
    color: white;
  "
>
  <div class="container footer-wrapper">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-fill bd-highlight">
        <p style="font-size: 20px; margin-bottom: 30px">Giới thiệu</p>
        <hr />
        <ul>
          <li>
            Admin Nam, quản lý chính của website.
            <hr />
          </li>
          <li>
            Email: thehalfheart@gmail.com
            <hr />
          </li>
          <li>
            Phone/Zalo: 0979306603
            <hr />
          </li>
          <li>
            Skype: ngomyn
            <hr />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
